@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #0b0f14;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #1f2833;
  border-radius: 4px;
}
